/* IN OTHER NEWS */

.other-news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
}

.news1, .news2 {
    flex: 1;
}

.news-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.publicity {
    text-align: center;
}

.publicity img{
    height: 150px;
    width: auto;
}

@media(min-width: 768px){
    .other-news {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .news1, .news2 {
        margin: 25px;
    }
}

@media(min-width: 1240px){
    .columns {
        display: flex;
    }

    .publicity {
        align-self: center;
    }

    .publicity img {
        transform:rotate(-90deg)
    }
}

