/* SPOTLIGHT */

.main-article {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    margin: 15px;
}

.spotlight-description {
    flex-direction: column;
    align-self: center;
    padding-top: 0px;
}

.spotlight-image {
    align-self: center;
}

.main-article img, .articles img{
    width:  350px;
}

.news-title {
    margin: 5px 0;
}

.news-text {
    margin-top: 0;
}

@media(min-width: 768px){
    .main-article {
        flex-wrap: nowrap;
    }
    .spotlight-description {
        flex-direction: column;
        width: 40%;
        padding-right: 100px;
    }
    .main-article img, .news img {
        width:  450px;
    }
}